<header id="banner" class="header">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
</header><!-- /#banner -->
<nav id="menu" class="nav" tabindex="-1">
    <div>
        {% for title, link in MENUITEMS %}
        <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
        <a  {% if p == page %} class="active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
        <a {% if cat == category %} class="active"{% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        {% endfor %}
        {% endif %}
    </div>
</nav><!-- /#menu -->

