/** importing fonts to use in the site **/
/** font for navigation bar **/
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body{
    font-family: 'Oxygen', monospace;
    background: #eeeeee;
    color: #444444; 
    line-height: 1.5em;
}
body a{
    color: #005544;
}
/** formating the header **/
.header {
    border-bottom: 1px solid #333333;
}
.header h1{
    text-align: center;
    font-size: 2.0em;
}
.header a{
    text-decoration: none;
    color: #444444;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid transparent;
}
.header a:hover{
    border: 2px solid #333333;
}
.nav{
    text-align: center;
    background: #eeeeee;
}
.nav a{
    color: #444444;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid transparent;
}
.nav a.active{
    color: #333333;
    font-weight: bold;
    background: #eeeeee;
    border-bottom: 2px solid #333333;
}
.nav a:hover{
    border: 2px solid #333333;
    color: #333333;
    background: #eeeeee;
}
/** end header **/

/** index **/
#content {
    padding: 20px 100px 0px 100px;
}
#content h2{
    color: #333333;
    font-size: 1.5em;
}
.published {
    width: auto;
}
.article-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;
}
.entry-title{
    font-size: 1.5rem;
}
.entry-title a{
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #333333;
    border: 2px solid transparent;
}
.entry-title a:hover{
    border: 2px solid #333333;
    color: #333333;
    background: #eeeeee;
}

.entry-content{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.0em;
}
.highlight{
    font-size: 0.7em;
    overflow: scroll;
}

.hentry {
    max-width: 600px;
    margin: 0 auto;
}
.hentry h2{
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.post-info{
    color: #8c8c8c;
    font-size: 0.8rem;
    font-style: italic;

}
/** end of index **/
/** Sidebar **/

.sidebar ul{
    list-style-type: circle;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    color: #005544;
    /* padding-left: 15rem; */
}
.sidebar ul li{
    padding-bottom: 0.7rem;
}
.sidebar ul a{
    color: #005544;
}

/** TODO: add screen sizes for paddings **/
@media only screen and (max-width:600px) {
    #content {
        padding: 20px 10px 0px 10px;
    }
}
